<footer class="navbar navbar-default">
<div id="footerAddOn" class="container-fluid"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
				<img class="img-responsive" src="img/RedSquare_Logo-RGB_tiny-219x300.jpg">
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
				<ul class="list-group">
					<li class="list-group-item"><p>Writer Square </li>
					<li class="list-group-item"><p>1512 Larimer St R38</li>
					<li class="list-group-item"><p>Denver, CO 80202</li>
					<li class="list-group-item"><p><a href="123">Phone: 303.595.8600</a></li>
					<li class="list-group-item"><a href="mail">Email: info@redsquarebistro.com</a></li>
					<li class="list-group-item social">
						<span><a href="https://plus.google.com/103486702072004414326" target="_blank"><img class="img-responsive" src="img/GogglePlus.png"/></a></span>
						<span><a href="https://www.instagram.com/redsquarebistro/" target="_blank"><img class="img-responsive" src="img/Instagram.png"/></a></span>
						<span><a href="https://twitter.com/redsquarebistro" target="_blank"><img class="img-responsive" src="img/Twitter.png"/></a></span>
						<span><a href="https://www.facebook.com/redsquareeurobistro/?fref=ts&ref=br_tf" target="_blank"><img class="img-responsive" src="img/Facebook.png"/></a></span>
						<span><a href="https://www.yelp.com/biz/red-square-euro-bistro-denver-3" target="_blank"><img class="img-responsive" src="img/Yelp.png"/></a></span>
					</li>
				</ul>				
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
				<ul class="list-group">
					<li class="list-group-item"><p>KITCHEN HOURS</p></li>
					<li class="list-group-item"><p><strong>Mon</strong> - <strong>Thurs</strong> 5:00 pm - 9:00 pm</p></li>
					<li class="list-group-item"><p><strong>Fri</strong> 4:30 pm - 10:00 pm</p></li>
					<li class="list-group-item"><p><strong>Sat</strong> 5:00 pm - 10:00 pm</p></li>
					<li class="list-group-item"><p><strong>Sun</strong> 4:00 pm - 8:00 pm</p></li>
					<li class="list-group-item"><p>BAR HOURS</p></li>
					<li class="list-group-item"><p><strong>Open Until 2 am Daily</strong></p></li>
				</ul>
			</div>
		</div>
	</div>
</footer>