<ul class="list-inline social">
	<li class="list-group-item">
		<span><a href="https://plus.google.com/103486702072004414326" target="_blank"><img class="img-responsive" src="img/GogglePlus.png"/></a></span>
		<span><a href="https://www.instagram.com/redsquarebistro/" target="_blank"><img class="img-responsive" src="img/Instagram.png"/></a></span>
		<span><a href="https://twitter.com/redsquarebistro" target="_blank"><img class="img-responsive" src="img/Twitter.png"/></a></span>
		<span><a href="https://www.facebook.com/redsquareeurobistro/?fref=ts&ref=br_tf" target="_blank"><img class="img-responsive" src="img/Facebook.png"/></a></span>
		<span><a href="https://www.yelp.com/biz/red-square-euro-bistro-denver-3" target="_blank"><img class="img-responsive" src="img/Yelp.png"/></a></span>
	</li>
</ul>