<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 menu-section">

	<div class="row">
		<div ng-repeat="(section, cont) in cocktails.cocktailsData" class="col-xs-12">
		
			<h3 ng-if="section != 'dessert'" class="text-uppercase header text-left">{{section}}</h3>

			<ul class="list-group menu {{section}}">
				<li ng-repeat="item in cont" class="list-group-item">
					<h4 class="list-group-item-heading">{{item.cocktailTitle}}</h4>
    				<p class="list-group-item-text">
					<span class="desc">{{item.cocktailDesc}}</span>
    				<span class="badge price">${{item.cocktailPrice}}</span>
    				</p>
				</li>
			</ul>
		</div>

	</div>
</div>