<div class="col-xs-12 col-sm-10 col-sm-offset-1 menu-section">
	<div class="row">
		<div  class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 pull-left">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="text-uppercase header text-left">RED SQUARE INFUSIONS</h3>

					<ul class="list-group menu bar">
						<li class="list-group-item">
		    				<p class="list-group-item-text">
							<span class="desc">Shot</span>
		    				<span class="badge price">$4.50</span>
		    				</p>
						</li>
						<li class="list-group-item">
		    				<p class="list-group-item-text">
							<span class="desc">Carafe</span>
		    				<span class="badge price">$30</span>
		    				</p>
						</li>
					</ul>

					<ul ng-repeat="(key, val) in infusions.infusionsData" class="list-group menu infusions">
						<li ng-repeat="item in val" class="list-group-item">{{item.infusionTitle}}</li>
						
					</ul>
				</div>

			</div>

		</div>
	</div>
</div>