<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 menu-section">

	<h3 class="text-uppercase header text-left">Wines By The Glass</h3>
	<ul ng-repeat="(section, cont) in wines.winesData" class="list-group menu wines">
		<li class="list-group-item"><strong>{{section}}</strong></li>
		<li ng-repeat="item in cont" class="list-group-item">
			<p class="list-group-item-text">
			<span class="desc">{{item.wineTitle}}, <i>{{item.wineCountry}}</i></span>
			<span class="badge price">${{item.winePrice}}</span>
			</p>
		</li>
	</ul>
</div>