<div class="bg-white main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 call-out-block">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<h2 class="h6 header text-uppercase .mr-t-75">EURO BISTRO + VODKA BAR</h2>
						<p>Known for the largest selection of vodkas in Denver, Red Square couples a fun and social bar scene with a European-inspired dining experience that blends new and old flavors in a vibrant and romantic atmosphere. Red Square European Bistro opened in 2003 in the vibrant open-air, mixed-use shopping destination, Writer Square. Writer Square is just off 16th Street Mall and is in close proximity to Larimer Square and the Theater District, making it a perfect destination for a night out. Red Square welcomed executive Chef Brandon Becker to the family in 2015. He joined long time restaurant and bar staff Max, Irena, Joe and Pasha.</p>
						<div class="hidden-lg hidden-md"><br><br></div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 red-box hidden-xs"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<img src="img/steve_gray.jpg" class="img-responsive center-block"/>
			</div>
			<div class="col-xs-12 col-md-6 call-out-block">
				<h2 class="h6 header text-uppercase mr-t-75">Owner</h2>
				<h1 class="header-narrow text-uppercase">STEVE RYAN</h1>
				<div class="text-block">
					<p>Steve Ryan is a passionate entrepreneur who moved to the United Sates from Ireland on a Hospitality exchange program.  Ryan quickly found his passion was in restaurants, not hotels, and began working at The Little Russian Café in Denver. After The Little Russian Café closed in 2003, Ryan opened Red Square Euro Bistro and Vodka Bar. Red Square has more than a decade of history offering the largest vodka selection available in Denver and excellent European inspired food in a fun, social, and welcoming atmosphere. </p>

					
				</div>
			</div>
		</div>
	</div>
</div>