<div class="container-fluid main">
    <div class="row">
        <div class="slider" slick-slider>
        <div class="slide">
            <span class="align-helper"></span>
            <img src="img/ribs.jpg"/>
        </div>
        <div class="slide">
            <span class="align-helper"></span>
            <img src="img/restaurant.jpg"/>
        </div>
        <div class="slide">
            <span class="align-helper"></span>
            <img src="img/infused_vodkas.jpg"/>
        </div>
        <div class="slide">
            <span class="align-helper"></span>
            <img src="img/patio-1.jpg"/>
        </div>
        <div class="slide">
            <span class="align-helper"></span>
            <img src="img/vodkapour.jpg"/>
        </div>
        </div>
    </div>
</div>
<div class="bg-grey">
    <div class="container text-container">
        <div class="row">
            <div class="hidden-xs col-sm-12 col-md-6">
                <img class="img-responsive" src="img/Pickle_Shot.jpg"/>
            </div>
            <div class="col-sm-12 col-md-6">
                <h1 class="text-uppercase header">Euro Bistro + Vodka Bar</h1>
                <div class="text-block">
                    <p>Our chefs create seasonally inspired menus with both classic and contemporary European food, blending hearty with whimsical. Come enjoy our beautiful courtyard patio, or our warm and inviting modern dining room. We offer an extensive wine list, and over one hundred different vodkas, including in-house infusions. Whether it is a casual cocktail, or a special celebration, small group or a party of one hundred, Red Square is a place to love and keeps you coming back again and again.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="homeCtrl" class="container" id="otWidget">
   
</div>