<div class="bg-grey">
	<div class="container main">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<img src="img/privatedining-1.jpg" class="img-responsive center-block">
			</div>
			<div class="col-xs-12 col-md-6 call-out-block">
				<h2 class="h6 header text-uppercase">Book with us</h2>
				<h1 class="header-narrow text-uppercase">Custom Private Parties</h1>
				<div class="text-block">
					<p>Our elegant semi-private dining room can accommodate 12-50 people for any special occasion. Our executive chef and private dining team will work with you to capture all the details of your custom event. We will help you with selecting the ideal menu, drink pairings and even floral arrangements, all designed to fit your budget, and create a memorable experience for you and your guests. In addition to our semi-private dining room, we offer full buyouts accommodating more than 80 people. We also offer lunch accommodations. Book us for your next corporate/private lunch (available for parties of 15 or more). The possibilities are endless! Talk with our private dining team and we will make your dreams a reality.</p>

					<ng-include src="'views/partials/address-list.html'"></ng-include>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<ng-include src="'views/partials/social-list.html'"></ng-include>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container img-block">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img class="img-responsive" src="img/flowers-1.jpg"/>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img class="img-responsive" src="img/vodka.jpg"/>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img class="img-responsive" src="img/lemontart.jpg"/>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img class="img-responsive" src="img/patio.jpg"/>
		</div>
	</div>
	<div class="row bullet-list">
		<div class="col-xs-10 col-xs-offset-1">
		<p class="text-center">
			
			BIRTHDAY PARTIES
			<i class="fa fa-circle" aria-hidden="true"></i>
			ENGAGEMENTS
			<i class="fa fa-circle" aria-hidden="true"></i>
			ANNIVERSARIES
			<i class="fa fa-circle" aria-hidden="true"></i>
			CORPORATE MEETINGS
			<i class="fa fa-circle" aria-hidden="true"></i>
			HOLIDAY PARTIES
			<i class="fa fa-circle" aria-hidden="true"></i>
			RETIREMENT PARTIES
			<i class="fa fa-circle" aria-hidden="true"></i>
			GRADUATION CELEBRATIONS
			<i class="fa fa-circle" aria-hidden="true"></i>
			SEMINARS
			<i class="fa fa-circle" aria-hidden="true"></i>
			LUNCHEONS
		</p>
		</div>
	</div>
</div>
