<div class="bg-grey">
	<div class="container main">
		<div class="row">
			<div class="col-xs-12 col-md-6" id="otWidget">
				
			</div>
			<div class="col-xs-12 col-md-6 call-out-block">
				<h2 class="h6 header text-uppercase">Join us</h2>
				<h1 class="header-narrow text-uppercase">We Encourage Reservations</h1>
				<div class="text-block">
					<p>Whether you are celebrating a special occasion or just a night out on the town, please join us in our dining room. If you have any dietary restrictions or allergies please call <a href="tel:3035954230">303.595.8600</a> in advance. Our chef can accommodate almost anything with advance notification. We also offer a semi-private dining room and many other options for larger groups, corporate events and lunches. Please visit our <a ui-sref="private-parties" title="Private Parties Details Page">private dining page</a> for more information.</p>

					<ng-include src="'views/partials/address-list.html'"></ng-include>
				</div>
				<div class="row">
					<div class="col-xs-12">
						
						<ng-include src="'views/partials/social-list.html'"></ng-include>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>