@mixin transition-s($what, $time, $type){
	$extentions:'-webkit-','-moz-','-o-','';
	@each $ext in $extentions{
		#{$ext}transition: #{$what} #{$time} #{$type};
	}
}

@mixin rotate($deg){
	$extentions:'-webkit-','-moz-','-o-','';
	@each $ext in $extentions{
		#{$ext}transform: rotate(#{$deg});
	}
}

@mixin bg-cover(){
    $extentions:'-webkit-','-moz-','-o-','';
    @each $ext in $extentions{
        #{$ext}background-size: cover;;
    }
}

@mixin transition($time, $style){
	$extentions: '-webkit-','-moz-', '-o-','';
	@each $ext in $extentions{
		#{$ext}transition: $time $style;
	}
}

@mixin list-col($cols, $gap){
	-moz-column-count: $cols;
    -moz-column-gap: $gap;
    -webkit-column-count: $cols;
    -webkit-column-gap: $gap;
    column-count: $cols;
    column-gap: $gap;
}

