$rs-dark: #383838;
$rs-light: #ffffff;
$rs-mid: #eaeaea;
$rs-red: #c92c41;
$text-grey: #4b4b4b;


$navigation-offset: 33.75px;
$mobile-buffer: 20px;

$mobile-menu-height: 80px;
$img-br-thick: 3px;

$rs-gen-font: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
$rs-text-font: 'Open Sans', Helvetica, Arial, sans-serif;